<div class="container">
    @if(cliente){
    <section class="card">


        <header class="header">
            <h1>Deletar Cliente</h1>
            <img src="assets/img/tecnico-create.svg" alt="Deletar cliente">
        </header>

        <div class="field full">
            <span class="label">Nome</span>
            <span class="value">{{ cliente.nome }}</span>
        </div>

        <div class="grid">
            <div class="field">
                <span class="label">CPF</span>
                <span class="value">{{ cliente.cpf }}</span>
            </div>
            <div class="field">
                <span class="label">Email</span>
                <span class="value">{{ cliente.email }}</span>
            </div>
        </div>

        <div class="field full">
            <span class="label">Perfis</span>
            <div class="perfis">
                @for (perfil of perfisNomes; track perfil) {
                <span class="badge">{{ perfil }}</span>
                }
            </div>
        </div>

        <div class="actions">
            <button mat-flat-button class="btn-deletar" (click)="delete()">
                <mat-icon>delete</mat-icon>
                Deletar
            </button>
            <button mat-stroked-button routerLink="/clientes" class="cancelBtn">Cancelar</button>
        </div>

    </section>
    }
</div>


<!-- <div class="container">
    <form [formGroup]="form" class="form">

        <h1 class="fullWidth">Deletar Cliente</h1>

        <img class="fullWidth" src="assets/img/cliente-create.svg" alt="Atualizar Cliente">


        <section class="section">

            <mat-checkbox [disabled]="true">
                Admin
            </mat-checkbox>

            <mat-checkbox [disabled]="true">
                Cliente
            </mat-checkbox>

            <mat-checkbox [disabled]="true">
                Cliente
            </mat-checkbox>

        </section>

        <mat-form-field class="fullWidth" appearance="outline">
            <mat-label>Nome</mat-label>
            <input formControlName="nome" matInput>
            <mat-icon matSuffix>account_circle</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="outline">
            <mat-label>CPF</mat-label>
            <input formControlName="cpf" matInput>
            <mat-icon matSuffix>badge</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="outline">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput>
            <mat-icon matSuffix>mail</mat-icon>

        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="outline">
            <mat-label>Senha</mat-label>
            <input formControlName="senha" matInput type="password">
            <mat-icon matSuffix>lock</mat-icon>

        </mat-form-field>

        <button class="fullWidth" matButton="filled" (click)="delete()" [disabled]="form.invalid">
            Deletar
        </button>

        <button type="button" routerLink="../../" class="fullWidth cancelBtn" mat-stroked-button>
            Cancelar
        </button>

    </form>
</div> -->