<div class="container">
    <form class="form" [formGroup]="form">

        <h1>Help Desk - Dicas de um DEV</h1>

        <img src="assets/img/login-image.svg" alt="Imagem de login">

        <mat-form-field class="full-width input">
            <mat-label>Email:</mat-label>
            <input formControlName="email" required matInput placeholder="nome@email.com.br">
        </mat-form-field>

        <mat-form-field class="full-width input">
            <mat-label>Senha:</mat-label>
            <input formControlName="senha" required type="password" matInput placeholder="Senha">
        </mat-form-field>

        <button (click)="logar()" [disabled]="form.invalid" class="full-width login-btn" matButton="filled" >
            Login
        </button>

    </form>
</div>