:root {
    --cor-aberto: #1565c0;
    --cor-aberto-bg: #e3f2fd;

    --cor-andamento: #e65100;
    --cor-andamento-bg: #fff3e0;

    --cor-encerrado: #2e7d32;
    --cor-encerrado-bg: #e8f5e9;

    --cor-alta: #c62828;
    --cor-alta-bg: #ffebee;

    --bg-sidenav: #ffffff;
    --bg-content: #f7f8fc;
    --bg-hover: #f4f6fb;
    --border-color: #f0f2f5;
    --text-primary: #1a1a2e;
    --text-secondary: #5a5f7a;
    --text-muted: #b0b5c8;
    
}


[data-theme="dark"] {
    --bg-sidenav: #1e1e2e;
    --bg-content: #13131f;
    --bg-hover: #2a2a3e;
    --border-color: #2e2e42;
    --text-primary: #e0e0f0;
    --text-secondary: #9090b0;
    --text-muted: #55556a;
}
